/*
*** COLOR VARIABLES ***
*/

@charset "utf-8";





// GRADATION
$gradation-weak: 10%;
$gradation-medium: 30%;
$gradation-strong: 40%;
$darken: 20%;

//NEW
$color-primary: #213B73;
$color-primary-light: lighten($color-primary, $gradation-weak);
$color-bg: #E5E6E9;
$color-bg-dark-weak: darken($color-bg, $gradation-weak);
$color-bg-dark-medium: darken($color-bg, $gradation-medium);

$color-button-disabled: darken($color-bg, 5%);

$color-font-h2: $color-primary;
$color-font-h3:lighten(desaturate($color-font-h2, $gradation-medium), $gradation-strong);

$color-info: #de9613;
$color-info-light: lighten($color-info, $gradation-medium);

$color-success: #50997A;

// BASE
$color-primary-light-weak: lighten($color-primary, $gradation-weak);
$color-primary-light-medium: lighten(desaturate($color-primary, $gradation-weak), $gradation-medium);
$color-primary-light-strong: lighten(desaturate($color-primary, $gradation-weak), $gradation-strong);

$color-primary-dark-weak: darken($color-primary, $gradation-weak);
$color-primary-dark-medium: darken($color-primary, $gradation-medium);
$color-primary-dark-strong: darken($color-primary, $gradation-strong);

$color-secondary: #c6538c;
$color-secondary-light: lighten($color-secondary, $gradation-weak);
$color-secondary-dark: darken($color-secondary, $gradation-weak);

$color-white: #ffffff;

// TYPOGRAPHY
$color-text: #c6538c;

// BORDER
$color-border: #c6538c;

// MESSAGE
$color-error: #D86E75;

$color-warning: #E19D1D;
$color-warning-text: darken(desaturate($color-warning, $gradation-strong), $gradation-weak);
$color-warning-background: lighten(desaturate($color-warning, $gradation-weak), $gradation-medium);

// BACKGROUND
$color-bg-dark: darken(desaturate($color-bg, $gradation-weak), $gradation-weak/2);

// BORDER
$color-border: darken(desaturate($color-bg, $gradation-weak), $gradation-weak);