/*
*** SPACING VARIABLES ***
*/

@charset "utf-8";

// SPACING
$space-small: 8px;
$space-medium: 12px;
$space-big: 32px;

//PADDING
$padding-small: $space-small;
$padding-medium: $space-medium;

//MARGIN
$margin-small: $space-small;
$margin-medium: $space-medium;

// SIZING
$size-small: 8px;
$size-medium: 16px;
$size-big: 32px;
