/*
*** BUTTON STYLE ***
*/

@charset "utf-8";

.button {
  &-primary{
    border-radius: $border-small;
    cursor: pointer;
    border: none;
    padding: $padding-medium;
    background: $color-primary-light;
    color: white;
    @include transition(background);

    &:hover{
      background: $color-primary;
    }
  }
}


