/*
*** FORM STYLE ***
*/

@charset "utf-8";

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #3259ae;
    --active-inner: #fff;
    --border: #BBC1E1;
    --border-hover: #AFAE5A;
    --background: #dadae2;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: rem(24px);
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: rem(2px);
      top: rem(2px);
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: rem(24px);
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    box-sizing: content-box;
    &:not(.switch) {
      border-radius: $border-small;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: rem(40px);
      border-radius: $border-small;
      &:after {
        left: rem(4px);
        top: rem(4px);
        border-radius: $border-small;
        width: rem(16px);
        height: rem(16px);
        background: $color-white;
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 14px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: $border-small;
    &:after {
      width: rem(20px);
      height: rem(20px);
      border-radius: $border-small;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

#report__submit{
  width: 100%;
}

.form{

  &__text-field{
    box-sizing: border-box;
    padding: $padding-small;
    border: none;
    margin-bottom: rem(16px);
    -webkit-box-shadow: 0px 4px 32px -8px rgba(5, 22, 129, 0.16);
    -moz-box-shadow: 0px 4px 32px -8px rgba(0,10,74,0.16);
    box-shadow: 0px 4px 32px -8px rgba(0,10,74,0.16);
  }

  &__text-field{
    width: 100%;
    border-radius: $border-small;
  }

  &__label__description{
    margin-bottom: rem(4px);
  }
}

textarea{
  max-width: 100%;
  min-width: 100%;
}