/*
*** ICON STYLE ***
*/

@charset "utf-8";

.icon{
  height: rem(24px);

  &__pattern, &__info{
    margin-right: $margin-small;
  }

  &__target{
    cursor: pointer;
    @include transition(opacity);

    &:hover{
      opacity: 0.6;
    }
  }

  &__success{
    margin-right: rem($margin-small/2);
    path, circle{
      fill: $color-success;
    }
  }

  &__error{
    margin-right: rem($margin-small/2);
    path, circle{
      fill: $color-error;
    }
  }

  svg{
    height: 100%;
  }
}

path, circle{
  fill: $color-primary;
  @include transition(fill);
}

#icon-close{
  cursor: pointer;

  path, circle{
    fill: $color-bg-dark-medium;
  }

  &:hover{
    path, circle{
      fill: $color-bg-dark-weak;
    }
  }
}

.info__icon{
  cursor: pointer;
  background: $color-bg-dark-weak;
  border-radius: rem($border-small);
  opacity: 1;
  @include transition(background);

  &:hover{
    background: $color-info-light;

    path, circle{
      fill: $color-info;
      @include transition(fill);
    }
  }
}
