/*
*** ITEM STYLE ***
*/

@charset "utf-8";

.item {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  padding: $padding-small;
  background: $color-white;
  border-radius: $border-small;
  margin-bottom: rem(8px);

  -webkit-box-shadow: 0px 4px 32px -8px rgba(5, 22, 129, 0.16);
  -moz-box-shadow: 0px 4px 32px -8px rgba(0,10,74,0.16);
  box-shadow: 0px 4px 32px -8px rgba(0,10,74,0.16);

  &:last-of-type{
    margin-bottom: 0;
  }

  &-button{
    cursor: pointer;
    @include transition(background);


    .item__interaction{
      margin-right: rem(4px);
      @include transition(margin-right);
    }

    p{
      @include transition(color);
    }

    path, circle{
      @include transition(fill);
    }

    &:hover{
      background: $color-primary-light;

      .item__interaction{
        margin-right: 0;
      }

      p{
        color: $color-white;
      }
      path, circle{
        fill: $color-white;
      }
    }
  }


  &__info{
    @include flexbox;
    @include align-items(center);
  }

  &__interaction{
    @include flexbox;
    @include align-items(center);

    >*{
      margin-right: $margin-small;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__counter{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    user-select: none;
    cursor: pointer;
    width: rem(24px);
    height: rem(24px);
    background: $color-primary-light;
    border-radius: $border-small;
    color: $color-white;
    @include transition(background);


    &:hover{
      background: $color-primary;
    }
  }
}


