/*
*** ITEM STYLE ***
*/

@charset "utf-8";

.item{
  @include flexbox;
  @include align-items(center);
  border-radius: $border-medium;
  background: $color-primary-light-strong;
  padding: rem(8px);
  margin-bottom: rem(8px);

  &:last-of-type{
    margin-bottom: 0;
  }

  &__content{
    width: 100%;

  }
  &__general{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 0;
  }

  &__number{
    display: inline-block;
    border-radius: $border-small;
    background: $color-primary;
    width: rem(20px);
    height: rem(20px);
    color: $color-white;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  &__icon{
    margin-right: rem(8px);

    path{
      fill: black;
    }
  }

  &.active{
    @include align-items(flex-start);
    background: $color-primary;

    .item__number{
      background: $color-primary-light-weak;
    }

    .item__titel{
      color: $color-white;
    }

    .item__general{
      margin-bottom: rem(8px);
    }

    .interaction{
      background: $color-primary-light-weak;
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);

      &__title{
        color: $color-white;
      }
    }
  }

  .interaction{
    display: none;
    width: 100%;
    padding: rem(8px);
    box-sizing: border-box;
    background: $color-white;
    margin-bottom: rem(4px);
    border-radius: $border-small;
    cursor: pointer;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.setting__items{
  .item{
    &__icon{
      @include flexbox;
      @include align-items(center);
    }
    &__general{
      margin-bottom: 0;
    }
    &__content{
      margin-bottom: 0;
    }
  }
}



