/*
*** NAVIGATION STYLE ***
*/

@charset "utf-8";

#navigation{
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.navigation__item{
  @include flexbox;
  @include align-items(center);
  cursor: pointer;
  opacity: 0.3;
  @include transition(opacity);

  &.active{
    opacity: 1;
    @include transition(opacity);
  }

  .icon{
    margin-right: rem(4px);
  }
}