/*
*** OVERVIEW STYLE ***
*/

@charset "utf-8";

#overview__results{
  @include flexbox;
}

.results{
  @include flexbox;
  @include justify-content(space-between);

  &__item{
    padding: rem(8px);
    width: calc(50% - 4px);
    border-width: rem(2px);
    border-style: solid;
    border-radius: $border-medium;

    &:first-of-type{
      margin-right: rem(4px);
    }

    &:last-of-type{
      margin-left: rem(4px);
    }

  }

  &__number, &__description{
    text-align: center;
  }

  &__number{

  }

  &__description{

  }
}

#result__overall{
  border-color: $color-primary-light-strong;
  background: $color-primary-light-strong;

  h3{
    color: $color-primary;
  }

  p{
    color: $color-primary-light-medium;
  }
}


#result__site{
  border-color: $color-warning;
  background: $color-warning-background;

  h3, p{
    color: $color-warning;
  }
}